<section class="news">
  <div class="inner-news">
    <h3 class="news__main-title">Новости и акции</h3>

    <ul class="news__list">
      <li class="news__item">
        <date datetime="2018-05-12" class="news__date">
          <span class="news__date-count">29</span>
          <span class="news__date-month">сент</span>
        </date>
        <a href="#" class="news__link">
          Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
        </a>
      </li>
      <li class="news__item">
        <date datetime="2018-05-12" class="news__date">
          <span class="news__date-count">29</span>
          <span class="news__date-month">сент</span>
        </date>
        <a href="#" class="news__link">
          Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
        </a>
      </li>
    </ul>

    <div class="news__load-more">
      <a href="#" class="ui-btn">Показать все</a>
    </div>

  </div>
</section>