@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsans/PT_Sans_narrow_bold.woff') format('woff'),
       url('../fonts/ptsans/PT_Sans_narrow_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url('../fonts/ptsans/PT_Sans_narrow_regular.woff') format('woff'),
       url('../fonts/ptsans/PT_Sans_narrow_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}