* {
  box-sizing: border-box;
}

html {
  font-size: $basic-font-size + px;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans Regular', sans-serif;
  background: #242424;
  color: #fff;
}

.maincontent {
  flex: 1 0;
}